﻿@model EURIS.Entities.Listino

@{
    ViewBag.Title = "AddProdotti";
}

<h2>Add Prodotti</h2>

<fieldset>
    <legend>Listino</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Codice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codice)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Descrizione)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descrizione)
    </div>
</fieldset>


@foreach (var item in ViewBag.Prodotti)
{

}


<p>
    @Html.ActionLink("Back to List", "Index")
</p>