﻿@model EURIS.Entities.Prodotto

@{
    ViewBag.Title = "Delete";
}

<style>
    .display-label {
        font-weight: bold;
    }
</style>

<h2>Delete</h2>


@using (Html.BeginForm("Delete","Prodotto",Model.Id))
{
    @Html.ValidationSummary(true)

    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>Prodotto</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Codice)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Codice)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Descrizione)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Descrizione)
        </div>

        <p>
            <input type="submit" value="Delete" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index", "Prodotto")
</div>