﻿@model IEnumerable<EURIS.Entities.LocalDbEntities>

@{
    ViewBag.Title = "Prodotto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Codice</th>
        <th>Descrizione</th>
    </tr>

@foreach (var item in ViewBag.Prodotti) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>@item.Id</td>
        <td>@item.Codice</td>
        <td>@item.Descrizione</td>
    </tr>
}
</table>
