﻿@model EURIS.Entities.Listino

@{
    ViewBag.Title = "Create";
}

<style>
    .editor-label{
        font-weight:bold;
    }
</style>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Listino</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Codice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descrizione)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descrizione)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Index", "Index", "Listino")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
