﻿@model EURIS.Entities.Listino

@{
    ViewBag.Title = "Details";
}

<style>
    .display-label {
        font-weight: bold;
    }
</style>

<h2>Details</h2>

<fieldset>
    <legend>Listino</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Codice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codice)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Descrizione)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descrizione)
    </div>
</fieldset>

<fieldset>
    <legend>Prodotti</legend>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
